body{
	background-color:brown;
}

.nav {
	position:absolute;
	padding:5px;
	transform:translate(-50%, -50%);
	height:64%;
	width:13%;
	left:26%;
	top:63%;
	outline:black solid 2px;
	background-color:white;

}

.logo {
	position:absolute;
	transform:translate(-50%,-50%);
	height:auto;
	width:13%;
	margin-left:32%;
	margin-top:15%;
	z-index:-1;
}

.header {

}

.content {
	position:absolute;
	transform:translate(-50%, -50%);
	height:89%;
	width:40%;
	outline:black solid 2px;
	background-color:white;
	top:50%;
	left:54%;
	padding:.2%;
	overflow: hidden;

}