body {
	font-size: 40px;
	font-family: sans-serif;
	width:100%;
	margin:0;
}

.title {
	font-family: 'Georgia', serif;
	font-weight: bold;
	height:100%;
}

#morn {
	position:absolute;
	transform: translate(-50%,-50%);
	top:50%;
	left:50%;
	padding: 20px;
	background-color:lightyellow;
	color: black;
	font-family: 'Times New Roman', serif;
}

#night {
	position:absolute;
	transform: translate(-50%,-50%);
	top:50%;
	left:50%;
	padding: 20px;
	background-color: #360675;
	color: white;
	font-family: 'Times New Roman', serif;
}